@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e1eeeb;
  min-height: 100vh;
}

.body-home {
  background: radial-gradient(#303b37, #0b3856);
}

.body-calculator {
  background: radial-gradient(#303b37, #1a1f1d);
}

.body-minigame {
  background: radial-gradient(#186a5e, #053339);
}

.main {
  text-align: center;
}